:root {
  --background-color: #415b74;
  --box-color: #edf0f2;
  --font-color: #0e141a;
  --popup-dismiss-color: rgba(0, 0, 0, 0.12);
  --privacy-text-color: #8e3b46;
  --privacy-text-hover-color: #94a89a;
  --menu-pill-color: rgba(178, 189, 200, 0.23);
  --background-color-links: RGBA(65, 91, 116, 0.35);
  --h1-highlight-color: #233140;
  --foot-backdrop-filter: blur(10px) brightness(1.4);
  --link-button-hover-color: #c88383;
  --social-menu-filters: brightness(0) saturate(1);
  --border-color: rgb(200, 200, 200, 0.15);
  --footer-text-color: #e2e6eb;
}

[data-theme="dark"] {
  --background-color: #273745;
  --box-color: #62778b;
  --font-color: #e2e6eb;
  --popup-dismiss-color: rgba(255, 255, 255, 0.15);
  --privacy-text-color: #ecd444;
  --privacy-text-hover-color: #ff6666;
  --menu-pill-color: rgba(51, 60, 68, 0.15);
  --background-color-links: RGBA(39, 55, 69, 0.35);
  --h1-highlight-color: #cbcfd3;
  --foot-backdrop-filter: blur(10px) brightness(0.8);
  --link-button-hover-color: #7d5a59;
  --social-menu-filters: brightness(0) saturate(1) invert(1);
  --border-color: rgba(255, 255, 255, 0.1);
  --footer-text-color: var(--font-color);
}

body {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 85vh;
  min-width: 100vw;
  overflow-x: hidden;
  margin-top: 0.25%;
  animation: fadeIn 0.8s ease forwards;
  font-family:
    "Inter",
    "Urbanist",
    -apple-system,
    /* iOS/macOS */ BlinkMacSystemFont,
    /* Chrome/Safari */ "Segoe UI",
    /* Windows */ Roboto,
    /* Android/Chrome OS */ Oxygen,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3,
p {
  margin: 0 0 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

#privacy-content {
  margin-top: 10%;
  padding-top: 0;
}

#id_photo,
#id_photo_links {
  border-radius: 50%;
  max-width: 15.5%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -9%;
  border: 1px solid var(--border-color);
}

#id_photo_links {
  filter: brightness(90%);
}
#id_photo_links:hover {
  filter: brightness(75%);
}

.main-box {
  background-color: var(--box-color);
  border-radius: 20px;
  border: 1px solid var(--border-color);
}

#info-box::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  width: 175%;
  height: 175%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 70%);
  filter: blur(80px);
  z-index: -1;
  /* send it behind the box */
  pointer-events: none;
  /* so it never interferes with clicks */
  opacity: 0.5;
}

[data-theme="dark"] #info-box::before {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 55%);
  opacity: 0.6;
}

#home-main-box {
  padding-top: 9%;
  padding-bottom: 1px;
}

#privacy-main-box {
  padding-top: 2%;
  padding-bottom: 1px;
}

#nametag {
  text-align: center;
}

h1 {
  font-family: "Urbanist", sans-serif;
  margin-bottom: 0.2%;
  font-size: 3.2em;
  font-weight: 900;
  color: var(--font-color);
  margin-top: 0;
}

h2,
h3 {
  font-family: "Urbanist", sans-serif;
  text-align: center;
  color: var(--font-color);
  font-weight: 700;
}

h2 {
  font-size: 37px;
  margin-bottom: 0;
}

h3 {
  font-size: 22px;
  margin-top: 10px;
}

#links-menu p,
#privacy-text,
.site-nav,
p,
ul li {
  font-family: "Inter", serif;
  color: var(--font-color);
  font-size: 15.5px;
  line-height: 1.65;
}

#popup,
#popup a {
  font-family: "Inter", serif;
}

.home-text-list {
  margin-top: 8px;
  list-style-type: circle;
}

.privacy-h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0.25%;
}

a {
  text-decoration: none;
}

#nametag p {
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 14pt;
  letter-spacing: 0.15em;
}

.menu-pill {
  background-color: var(--menu-pill-color);
  padding: 7px 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.site-nav {
  list-style-type: none;
  font-size: 0.9375em;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.site-nav-item {
  margin: 0 11px;
}

.site-nav-item a {
  color: var(--font-color);
}
.site-nav-item a:hover {
  color: var(--privacy-text-hover-color);
}

#info-box {
  margin: 1.5% 1.75% 0;
  position: relative;
}

#info-box p {
  margin: 0.6% auto;
  line-height: 1.7;
  font-size: 0.9375em;
}

#social-menu {
  text-align: right;
  margin-right: 1%;
}

#social-menu ul {
  padding-inline-start: 0;
  margin-bottom: 0.5%;
  margin-top: 2%;
}

#social-menu ul li {
  display: inline;
  margin: 0 3px;
}

#social-menu ul li img {
  filter: var(--social-menu-filters);
  opacity: 0.75;
  width: 31px;
  transition:
    filter 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease;
}
#social-menu ul li img:hover {
  filter: brightness(1) saturate(1) invert(0);
  opacity: 100%;
  transform: scale(1.2);
}
#social-menu ul li img:active {
  transform: scale(1.1);
  transition: scale 0.2s ease;
}
@media (pointer: coarse) {
  #social-menu ul li img {
    -webkit-tap-highlight-color: transparent;
  }
  #social-menu ul li a:focus-visible,
  #social-menu ul li img:focus-visible,
  #social-menu ul li:focus-visible {
    outline: none;
    /* Remove the default outline */
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75);
    /* Add a subtle box shadow */
    border-radius: 50%;
    /* Ensure the shadow is circular */
  }
}

#spacer {
  flex-grow: 1;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 230px;
  left: 15px;
  border-radius: 5px;
}

#footer p {
  color: #e2e6eb;
  font-size: 0.75em;
  text-align: center;
  margin-top: 1em;
}

#footer a {
  color: #e2e6eb;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
#footer a:hover {
  color: #b5b8bc;
}

#privacy-text {
  margin: 1% 5% 6%;
  line-height: 1.7;
}

#info-box a,
#privacy-main-box p a {
  color: var(--privacy-text-color);
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
#info-box a:hover,
#privacy-main-box a:hover {
  color: var(--privacy-text-hover-color);
}

.theme-switch-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0.8%;
  left: calc(91% + 8px);
  font-size: 1vw;
  color: var(--font-color);
}

.theme-switch {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 43px;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 2%;
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

#enable-text {
  font-family: "Inter", serif;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.15s;
}
#dark-switch-hover:hover #enable-text {
  color: #dae0e6;
  opacity: 1;
  filter: drop-shadow(0.3px 0.3px 0.1px black);
  transition: opacity 0.3s;
}

.theme-switch input {
  margin-left: 15px;
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
input:checked + .slider {
  background-color: #69a15a;
}
input:checked + .slider:before {
  transform: translateX(21px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#popup {
  display: none;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  padding: 6px 6px 6px 14px;
  background-color: var(--menu-pill-color);
  color: var(--font-color);
  border-radius: 22px;
  font-size: 0.8em;
  backdrop-filter: var(--foot-backdrop-filter);
}

#popup a {
  color: var(--font-color);
  text-decoration: underline;
  text-decoration-thickness: 0.3px;
}
#popup a:hover {
  color: var(--h1-highlight-color);
}

.popuptext {
  display: flex;
  align-items: center;
  gap: 8px;
}

#popup-dismiss-button {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--popup-dismiss-color);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#popup-dismiss-button:hover {
  background-color: var(--border-color);
}
#popup-dismiss-button::before,
#popup-dismiss-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1.5px;
  background-color: var(--font-color);
  border-radius: 1px;
  opacity: 0.7;
}
#popup-dismiss-button::before {
  transform: rotate(45deg);
}
#popup-dismiss-button::after {
  transform: rotate(-45deg);
}
#popup-dismiss-button:hover::before,
#popup-dismiss-button:hover::after {
  opacity: 1;
}
.links-page-home-link h1:hover {
  color: var(--h1-highlight-color);
}

#links-menu {
  margin-top: 30px;
  margin-bottom: 50px;
}

.link-menu-div {
  list-style-type: none;
  margin: 14px auto 15px;
  width: 35vw;
  background-color: var(--menu-pill-color);
  border-radius: 12px;
  transition: all 0.2s;
}

.link-submenu-div {
  list-style-type: none;
  width: 17.5vw;
  background-color: var(--menu-pill-color);
  border-radius: 12px;
  transition: all 0.2s;
}

#links-menu div a {
  display: block;
  padding: 15px 0;
}

#links-menu p {
  margin: 0;
  display: flex;
  justify-content: center;
}

#links-more-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  padding: 5px 15px;
  background-color: var(--menu-pill-color);
  border-radius: 12px;
}

#links-more-button p {
  font-size: 13px;
}

#links-more-button:active {
  transform: scale(0.92);
}

#link-more {
  display: none;
  grid-template-columns: repeat(2, 17.5vw);
  justify-content: center;
  gap: 20px;
  margin-top: 14px;
}

#info-box h2 {
  font-size: 1.1em;
  margin-bottom: 0;
  font-family: "Inter", serif;
  color: var(--font-color);
  text-align: left;
  font-weight: bold;
}

#portfolio {
  margin-left: 0.35%;
}

#portfolio p {
  text-align: center;
}

.portfolio-link p {
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}
.portfolio-link p:hover {
  color: var(--privacy-text-hover-color);
}

#here-text {
  margin: 0;
}

#tech-portfolio {
  margin-bottom: 25px;
}

.tech-portfolio-item {
  width: 50%;
  display: inline-grid;
  justify-items: center;
  vertical-align: baseline;
  margin-top: 14px;
  margin-left: 24%;
}

.tech-portfolio-images {
  width: 70%;
  height: auto;
  border-radius: 8px;
  transform: translateX(23%);
  border: 1px solid var(--border-color);
}

.audio-portfolio-item {
  width: 33%;
  display: inline-grid;
  justify-items: center;
  vertical-align: baseline;
  margin-top: 14px;
}

.audio-portfolio-images {
  width: 70%;
  height: auto;
  border-radius: 8px;
  transform: translateX(23%);
  border: 1px solid var(--border-color);
}

.photo-portfolio-item {
  width: 33%;
  display: inline-grid;
  justify-items: center;
  vertical-align: middle;
  margin-top: 14px;
}

.photo-portfolio-images {
  width: 95%;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

#fullpage {
  display: none;
  /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
  /* Ensure it appears above other elements */
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-user-select: none;
  user-select: none;
  backdrop-filter: blur(1px);
}
#fullpage:hover {
  cursor: zoom-out;
}

#portfolio h2 {
  margin-top: 15px;
  letter-spacing: 0.035em;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding-bottom: 3vh;
  margin-top: 0.75em;
}

.column {
  min-width: 0;
}

.column h2 {
  margin-top: 0.875em;
}

.column h2:first-child {
  margin-top: 0;
}

@media (pointer: fine) {
  #links-more-button:hover {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--link-button-hover-color);
    scale: 1.03;
  }
  #links-more-button p:hover {
    color: var(--privacy-text-color);
  }
  .portfolio-images:hover {
    cursor: pointer;
    transform: scale(103%) translateX(22.5%);
    filter: brightness(70%);
  }
  .photo-portfolio-images:hover {
    cursor: zoom-in;
    transform: scale(103%) translateX(0%);
  }
}
@media (max-resolution: 1dppx) and (max-aspect-ratio: 2/1) and (min-width: 1852px) {
  h1 {
    font-size: 3.5em;
    font-weight: 900;
  }

  #info-box h2,
  #links-menu p,
  #privacy-text,
  .site-nav,
  p,
  ul li {
    font-size: 17px;
  }

  #popup-x p {
    transform: translateX(31%) translateY(-9.25%);
  }

  #popup-dismiss-button {
    width: 22px;
  }
}
@media only screen and (max-width: 920px) {
  #popup {
    bottom: 7%;
  }
}
@media only screen and (max-width: 875px) {
  .theme-switch-wrapper {
    font-size: 1.6vw;
    left: auto;
    margin-left: 88%;
  }
}
@media only screen and (max-width: 630px) {
  #id_photo,
  #id_photo_links {
    max-width: 40%;
    height: auto;
    margin-bottom: -20%;
  }

  h1 {
    font-size: 2.5em;
  }

  .main-box {
    margin-bottom: 10px;
  }

  #social-menu ul {
    text-align: center;
  }

  #info-box h2,
  #links-menu p,
  #privacy-text,
  .site-nav,
  p,
  ul li {
    font-size: 14px;
  }

  #main-box {
    padding-top: 22%;
  }

  #info-box {
    margin: 4% 7% 0;
  }

  .privacy-h1 {
    font-size: 2.5em;
    margin-bottom: 2%;
  }

  #privacy-text {
    margin: 2% 7% 6%;
  }

  #shadow-box {
    width: 110px;
    height: 45px;
    background-color: var(--menu-pill-color);
    backdrop-filter: blur(1px);
    position: fixed;
    bottom: 1.15%;
    border-radius: 20px;
    margin-left: 66.5%;
  }

  .home-text-list {
    padding-inline-start: 2vw;
  }

  .theme-switch-wrapper {
    font-size: 2.25vw;
    margin-left: 68.5%;
    margin-bottom: 0.8%;
  }

  .theme-switch {
    margin-bottom: 3.5%;
    height: 15px;
  }
  .slider:before {
    height: 11px;
    width: 11px;
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }

  #checkbox {
    opacity: 0;
  }

  #footer {
    position: static;
    bottom: 0px;
  }

  #footer p {
    margin-bottom: 15px;
    color: var(--footer-text-color);
  }

  #enable-text {
    opacity: 1;
  }

  #home-main-box {
    padding-top: 20%;
  }

  .link-submenu-div {
    width: 23.5vw;
  }

  .row {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .column h2:first-child {
    margin-top: 0.875em;
  }

  .audio-portfolio-item,
  .photo-portfolio-item {
    width: 49%;
  }

  .tech-portfolio-item {
    width: 70%;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 470px) {
  #popup {
    width: 90%;
    bottom: 8%;
    transform: translateX(-50%);
    padding-left: 14px;
  }
}
