/.vscode/
/Depreciated JS/

.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/siekmang.github.io.iml

.idea/modules.xml
/.idea
img/.DS_Store

node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

.astro/
