:root {
  background-color: #c0deb4;
}

h1,
p {
  font-family: "Tenor Sans", sans-serif;
  color: #333333;
  letter-spacing: 0.075em;
}

body {
  width: 80vw;
  margin: 10vh 10vw;
}

p {
  line-height: 25px;
}

#info-box {
  margin: 1.5% 1.75% 0;
  /*Height should hold all content, but this is hard coded right now*/
  height: 50vh;
  border-radius: 20px;
  background-color: white;
}

@media only screen and (max-width: 630px) {
  #info-box {
    margin: 4% 0 0;
  }
}
